
@import "bootstrap-grid";
@import "bootstrap-reboot";
@import "bootstrap-utilities";
@import "bootstrap";

a {
    text-decoration: none;
}

.bg-one {
    @include gradient-x-three-colors($start-color: $blue, $mid-color: $purple, $color-stop: 50%, $end-color: $red) ;
}

.logo {
    max-width: 15% !important;
    @media (max-width:810px) {
        max-width: 20% !important; 
    }
    @media (max-width:480px) {
        max-width: 50% !important; 
    }
}

.bg-deep {
    background-image: url('../img/bg_portal.jpg');
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
}

.bg-quem {
    background-image: url('../img/bg_quem_sou.jpg');
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
}

.bg-composicao {
    background-image: url('../img/bg_composicao.jpg');
    background-size: cover;
    background-position: top center;
    min-height: 150vh;
}

.bg-dark-portal {
    background-color: rgba($color: #ffffff, $alpha: 0.8) !important;
}

.nav-link {
    color: white !important;
    &:hover{
        color: rgb(209, 209, 209) !important;
    }
}

.text-baron {
    font-family: $font-baron;
}

.top-cover {
    height: 100vh;
  }

  .accordion-button::after {
      left: 0 !important;
      margin-left: 0 !important;
  }

  .bg-dark {
      background-color: black !important;
  }

  .show-desk {
      display: inherit !important;
      @media (max-width: 760px) {
          display: none !important;         
      }
  }

  .show-mobile {
    display: none !important;
    @media (max-width: 760px) {
        display: inherit !important;         
    }
}

.img-contato {
    max-width: 45%;
}

.top-hcont {
    margin-top: 1.8rem;
    @media (max-width: 480px) {
        margin-top: 0.5rem;         
    }
}
.text-black {
    color: black;
    &:hover{
        color: rgb(150, 150, 150);
    }
}

.text-black-2 {
    color: black;
}

.text-dir {
    text-align: right;
    @media (max-width: 480px) {
        text-align: center;         
    }
}

.text-esq {
    text-align: left;
    @media (max-width: 480px) {
        text-align: center;         
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: aqua;  
  }
  
  #myBtn:hover {
    background-color: transparent;
    color: #06427b;
  }

.top-text{
    margin-top: 0;
    @media (max-width: 1199px) {
        margin-top: 1rem;         
    }
}

.font-fred {
    font-size: inherit;
    @media (min-width: 1200px) and (max-width: 1399px) {
        font-size: 1.15rem !important;         
    }
    @media (max-width: 1200px) {
        font-size: inherit;         
    }
    @media (max-width: 480px) {
        font-size: 1rem !important;         
    }
}

.form-control {
    background: transparent !important;
    color: #a7cff7 !important;
}
.form-control::placeholder {
    color: white !important;
}

.social {
    transition: transform 1s;
    &:hover {
      transform: scale(2);
    }
}

.social a {
    color: white !important;
}

.social a:hover {
    color: aqua !important; 
}